* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME PAGE */
header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw; 
    color: white;
}

header img {
    width: 150px; 
    height: auto; 
}

.nav {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: white;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.nav a:hover {
    color: #ddd;
}


.title{
    padding-bottom: 20px;
}
.about-us {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    text-align: justify;
}

.about-content {
    max-width: 100%;
    margin-left: 40px;
}

.shop-now input[type="submit"] {
    background-color: #4CAF50; 
    color: white; 
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; 
    margin: 20px; 
}

.shop-now input[type="submit"]:hover {
    background-color: #0f4e09; /
}


.customer-reviews {
    display: flex;
    flex-direction: column; 
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.customer-reviews p {
    background-color: #ddd;
    padding: 20px;
    margin: 20px 0;
    text-align: justify;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    width: 100vw; 
}




/* LOGIN PAGE */
.main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.login-section {
    background-color: #ddd; /* Gray background color */
    padding: 100px; /* Increase padding for more space inside the box */
    margin: 20px auto; /* Center the box */
    border-radius: 10px;
    max-width: 1000px; /* Increase max-width for a wider box */
}


label {
    display: block;
    margin: 10px;
    text-align: left; 
}

/* Style the form fields */
input[type="text"],
input[type="password"] {
    background-color: #fff;
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; 
    max-width: 300px; 
    box-sizing: border-box; 
    text-align: center; 
    align-content: center;
}

/* Style the Login button */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    transition: background-color 0.3s, opacity 0.3s;
    width: 100%; 
    max-width: 300px; 
    box-sizing: border-box; 
}

/* Style the signup link */
.signup-link {
    color: #007BFF;
    margin: 10px;
    text-align: center; 
}

.signup-link:hover {
    text-decoration: underline;
}





/* PRODUCT PAGE */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    /* border: 1px solid #007bff; Remove this line */
    border-radius: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.product-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: calc(50% - 10px); 
    text-align: center;
    box-sizing: border-box; 
    margin-bottom: 20px; 
    outline: none; 
    border: none; 
}

.product-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.price {
    color: #007BFF;
    font-weight: bold;
}

.add-to-cart-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: none;
}

.add-to-cart-btn:hover {
    background-color: #45A049;
}

.product-item:hover {
    background-color: #ffffff;
}


.flex-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}




/* CONTACT PAGE */
.contact-section{
    margin-bottom: 30px;
}

.inquiry-section h2 {
    margin-bottom: 20px; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

.contact-section .contact-method a:hover {
    color: #007BFF; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
input[type="reset"] {
    background-color:#45A049;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #0e881e;
}